/* You can add global styles to this file, and also import other style files */

.container{
    margin-top: 30px;
}

.error{
    color: #a94442;
}

.proposal-link{
    text-decoration: none;
}

.proposal-card{
    padding: 30px;
}