<h1>{{pageTtle}}</h1>


<div class="card" *ngFor="let document of documents">
  <img class="card-img-top" src="{{document.image_url}}" alt="Card image cap" width="100%">

  <div class="card-block">
      <h4 class="card-title">{{document.title}}</h4>
      <p class="card-text"> 
        <small>Last updated: {{document.updated_at | date }}</small>
      </p>

      <p class="card-text">{{document.description}}</p>
    <div>
      <a class="btn btn-lg btn-primary" href="{{document.dile_url}}">Download file</a>
    </div>

    

  </div>
  <hr>
</div>


<!-- <div class="card mb-3">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
      bit longer.</p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div> -->